<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Edit page</title>
    <div th:replace="main.html :: header"></div>
</head>
<body>
<div th:replace="main.html :: navigation"></div>
<div class="container">
    <form action="#" th:action="@{/product/update/{id}(id=${product.id})}" th:object="${product}" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="row">
            <h2>Edit product</h2>
        </div>
<!--        <input type="hidden" th:value="${producer.id}" name="producerId" />-->
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <input onclick='javascript:window.history.back()'class="btn btn-primary" value='Back' type='button' />
                <a href="" type="reset" form="name" class="btn btn-success">Reset</a>
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="Name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Name" >

            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="Price" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{price}" id="price" placeholder="Price" >

            </div>
        </div>
        <br>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-warning">Edit</button>

            </div>
        </div>
    </form>
</div>
</body>
</html>